!!! 5
html(lang = "ja")
  head
    block title
      title jQuery Step Function
    meta(charset = "UTF-8")
    link(rel="stylesheet",href="common/css/main.css")
  body

    section.mod-blk1#blk1
      h1 Study.1
      div.mod-animarea
        div#box1.mod-box
        div#box2.mod-box
      div.mod-margin
      button(type="button")#btn_anim1 start

    hr
    section.mod-blk2#blk2
      h1 Study.2
      div.mod-animarea
        div#box3.mod-box
      div.mod-margin
      button(type="button")#btn_anim2 start

    hr
    section.mod-blk3#blk3
      h1 Study.3
      div#sprites
      div.mod-margin
      button(type="button")#btn_anim3 start

    script(src = "common/js/libs/almond.min.js")
    script(src = "common/js/libs/vendor.js")
    script(src = "common/js/main.js")
