@import '../../node_modules/nib'

global-reset()
reset-html5()
@import "./libs/_cssfonts.styl"
@import "./libs/_utils.styl"

body
  font-family $_font_hiragino
  font-size fz(12)
  padding 30px
  background #CCC

h1
  font-weight bold
  font-size 20px
  margin-bottom 1em

hr
  margin 2em 0

.mod-animarea
  position relative
  height 200px
  width 100%

.mod-margin
  height 30px

.mod-box
  position absolute
  top 0
  left 0
  width 200px
  height 200px
  background green

#box2
  background navy
  top 210px

#box3
  background purple
  transform-style preserve-3d
  transform scale(0.5)
  &.on
    background orange

#box4
  background orange

#sprites
  background url(../img/sprites.png) no-repeat 0 0
  width 178px
  height 178px

.mod-blk1 .mod-animarea
  height 400px